/* ----------------------------------------
Layout
------------------------------------------- */
section {
	padding: 105px 30px;
	padding: 7rem 2rem;
}

.wrap {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

.grid-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.col-third {
	width: 32%;
}

.col-half {
	width: 49.2%;
}

.vertical-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap:  wrap;
	    flex-wrap:  wrap;
}

.callout {
	background-color: #CFF2F6;
}
